@{
    ViewData["Title"] = "Home Page";
}

<br>
        <div class="item active">
            <img id="image1" src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" onclick="reply_click(this.id)"/>
            <div class="carousel-caption" role="option">
                <p>
                   
                </p>
            </div>
        </div>
<br>
        <div class="item active">
            <img id="image2" src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" onclick="reply_click(this.id)"/>
            <div class="carousel-caption" role="option">
                <p>
              
               
                </p>
            </div>
        </div>

<br><br><br>


<div class="socialMediaIcons">

	    <div>
		    <h4 class="iconHeaderText">Share the Love !</h4>
	    </div>
	
        <img class="icon" src="~/images/socialMediaIcons/facebook.png" alt="ASP.NET" />
	
        <img class="icon" src="~/images/socialMediaIcons/instagram.png" alt="ASP.NET" />
   
        <img class="icon" src="~/images/socialMediaIcons/twitter.png" alt="ASP.NET" />
   
</div>

<!-- this script return which element was clicked
<script type="text/javascript">
function reply_click(clicked_id)
{
    alert(clicked_id);
}
</script>

-->